


		#board{
            float:center;
            width:1000px;
            position:relative;
            height:290px;
			text-align:center;
        }
        
        .border {
            border-style:solid;
            border-color:red;
            border-width:1px;
            padding: 0px;
            width:640;
        }
        .cell{
            float:left;
            postion:relative;
            width:30px;
            height:30px;
            top:0;
            left:0;
            font-size:8px;
            text-align:center;
            border-style:inset;
            border-width:0px;
	    
        }
		.board-table-style{
	    
		}
	
		div{
	        border-style:solid;
            border-color:white;
            border-width:0px;
		}
	
		body {
	   
		}
	
	
	
	
		SPAN{
			margin-right:5px;
	    }
		
				
		.off{
			border-style:solid;
			border-color:white;
			border-width:0px;
	    }
	    .on{
			border-style:solid;
			border-color:black;
			border-width:1px;
	    }
	   
		.animation-layer{
			position:absolute;
			top:65px;
			left:560px;
			margin-left:5px;
			z-index:999;
			margin-left: 1.6in;
			font-size: 4em; 
		}

	    #page {
			position:absolute;
			margin: 0 auto;
			width: 1020px;
			top:150px;
			left:20px;
			text-align: left;
			border-style:solid;
			border-color:black;
			border-width:0px;
	    }
	    #actions{
			text-align:center;
		
	    }
	    #actions SPAN{
			margin:5px,5px,5px,5px;
	    }
	    .btn-on{
			border-style:solid;
			border-color:red;
			margin:5px;
			border-width:1px;
	    }
	    .btn-off{
			border-style:solid;
			border-color:white;
			margin:5px;
			border-width:0px;
	    }
	   	    .win{
			height:46px;
		
	    }
	    .cursor-plant{
			cursor:crosshair;
	    }
	    .cursor-normal{
			cursor:default;
	    }
	    .cursor-harvest{
			cursor: pointer;
			cursor: hand;
	    }
	    
	    
	    #board-corn{
			float:left;
			padding-left:70px;
	    }	
	    #bushel-corn{
			position:absolute;
			top:190px;
			left:45px;
	    }
	    #icon-corn{
			position:absolute;
			top:190px;
			left:6px;
	    }
		#corn_buy_seeds{
			position:absolute;
			top:170px;
			left:940px;
			text-align:center;
		}
		#cornSeeds{
			color:black;
			font-weight:bold;
		}

		
		
	    
	    #board-strawberries{
			float:left;
			padding-left:70px;
	    }	
	    
	    #bushel-berries{
			position:absolute;
			top:290px;
			left:45px;
	    }
		#icon-berries{
			position:absolute;
			top:290px;
			left:6px;
	    }
	    
		#berry_buy_seeds{
			position:absolute;
			top:270px;
			left:940px;
			text-align:center;
		}
		#berrySeeds{
			color:black;
			font-weight:bold;
		}
	    
	    
	    #board-wheat{
			float:left;
			padding-left:70px;
	    }	
		
		#bushel-wheat{
			position:absolute;
			top:90px;
			left:45px;
	    }
	    
	    #icon-wheat{
			position:absolute;
			top:90px;
			left:6px;
	    }
		
		#wheat_buy_seeds{
			position:absolute;
			top:70px;
			left:940px;
			text-align:center;
		}
		#wheatSeeds{
			color:black;
			font-weight:bold;
		}

	    
	    
		
		#sun{
			position:absolute;
			top:5px;
			left:500px;
	    }
		
		
				
		#cloud{
			position:absolute;
			top:5px;
			left:500px;
			z-index:-999;
	    }

	    #title{
			position:absolute;
			top:50px;
			left:450px;
			z-index:999;
	    }
		
		#header_container{
			border: 2px;
			border-color:black;
			width:800px;	
		}

		
	    #PLAYER{
			position:absolute;
			top:15px;
			left:0px;
			margin-left:5px;
	    }
	    
		
			
		#CROP-DESC {
			position:absolute;
			text-align:left;
			top:15px;
			left:870px;
			font-size:16px;
			margin:0px;
	    }
		
	    
		#crop-desc-table th {
			font-size:12px;
	    }
	    
		.GAME-STYLE-LOSS {
			border-color:white;
			background-color:white;
			color:red;
			font-size:13px;
	    }
	    .GAME-STYLE-PROFIT {
			border-color:white;
			background-color:white;
			color:green;
			font-size:13px;
	    }  
	    
	    UL li{
			margin-left:0px;
	    }
	    
		#display{
			position:absolute;
			top:390px;
			left:140px;
			font-weight:bold;
			font-size:16px;
			width:700px;
			text-align:center;
	    }


		.field-label{
			font-weight:bold;
			color:black;
		}
		
		
		#awards{
			position:absolute;
			top:490px;
			left:10px;
			
		}
		
		#controls {
			position:absolute;
			top:520px;
			left:250px;
		}
		
	